<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aqua;">
    <center>
        <table border="6px">
          <i>  <h1 style="background:linear-gradient(45deg,green,blue,yellow)">DISPLAY_ACCESSRECORD</h1></i>
            <tr style="color: green;">
                <th>Pk-value</th>
                <th>Name</th>
                <th>Date</th>
                <th>Author</th>
            </tr>
            {% for ao in accessrecord %}
            <tr>
                <td>{{ao.pk}}</td>
                <td>{{ao.name}}</td>
                <td>{{ao.date}}</td>
                <td>{{ao.author}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>